
html, body, .flex-container {
    height: 120%;width: 100%;
}
body {
  
background-color: #1f2937;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.flex-container {
    display: flex;
    flex-direction:column;
    flex-grow: 1;   
}
.flex-container >* {
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.container-1 {
    display: flex;
    flex-direction: row;
    padding-bottom: 50px;
    flex-grow: 1;
}
    .h-logo {
        display: flex;
        flex-direction: row;
        flex-grow: 1;
        font-size: 24px;
        color: #f9faf8;
    }
    .links {
        display: flex;
        flex-direction: row-reverse;
        flex-grow: 1;
        
               
    }
    .links >* {
        padding-left: 10px;
        text-decoration: none;
        color: #e5e7eb;
    }
.container-2  {
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    
}

.hero {

    flex-direction: column;
    flex-grow: 1;
    flex-basis: 50%;
     
   
}

    .hero-main {
       
   font-size: 48px ;
   font-weight: 900 ;
   color: #f9faf8;

}
    .hero-secondary{
  
  
    font-size: 18px ;
    color: #e5e5e5;
   }
   
    }
    .button1{
        color: #e5e7eb;
        background-color: #3882f6;
        border-color: #3882f6;
        padding: 10px;
        border-radius: 10px;
        font-weight: bold;
        font-size: 20px;
        padding-inline: 10;
    }
    .image {
     padding: 0px;
     height: 80%;
    flex-grow: 1;
    flex-basis: 50%;

    background-color: #7d8697;
   
    
    }

.container-3 {
    flex-grow: 1;
    background-color: white;
    }
.container-4 {
    flex-grow: 1;
    background-color: #e5e7eb;
    }
.container-5 {
    flex-grow: 1;
    background-color: white;

    }
